---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

{% for category in site.data.research_categories %}
  {% assign posts = site.research | where: "category", category %}
  {% if posts.size > 0 %}
    {% assign sorted_posts = posts | sort: 'order' %}
    <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
    {% for post in sorted_posts %}
      {% include archive-single.html %}
    {% endfor %}
  {% endif %}
{% endfor %}
